* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --violet: rgb(86, 46, 229);
  --violet-shadow: rgba(86, 46, 229, 0.20);
  --turquoise: rgb(79, 227, 193);
}

html {
  width: 100%;
}

body {
  width: 100%;
}

#root {
  border-top: 5px solid var(--violet);
  display: flex;
  justify-content: center;
}

.App {
  /* Sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* End Sticky footer */
  width: 100%;
  max-width: 90%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.logo {
  background: var(--turquoise);
  border-radius: 20px;
  padding: 10px;
}

.App-body {
  /* Sticky footer */
  flex: 1;
  /* End Sticky footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}

.title {
  color: var(--violet);
}

.search-bar input {
  border: 1px solid var(--violet);
  border-right: none;
  border-radius: 20px 0 0 20px;
  padding: 10px;
  margin-top: 150px;
  width: 400px;
}

.lupa-icon {
  width: 10px;
}

.btn {
  background-color: var(--violet);
  border: none;
  color: white;
  border: 1px solid var(--violet);
  border-radius: 20px;
  padding: 10px;
}

.btn:active {
  box-shadow: 7px 6px 28px 1px var(--violet-shadow);
  transform: scale(0.98);
}

.btn-search {
  border-radius: 0 20px 20px 0px;
}

.gif-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  background-color: aliceblue;
}

.gif {
  margin: 10px;
  box-shadow: 7px 6px 28px 1px var(--violet-shadow);
}

.gif-container .gif {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

footer {
  background-color: aquamarine;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: var(--violet);
  color: white;
}